* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    background-color: #181C14;
    color: white;
;

}

#hero-image {
    width: 40%;
    padding-left: 4%;

}


.intro {
    width: 40%;
    padding-right: 4%;
    font-family: Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 2;
    font-size: 1rem;
}


@media screen and (max-width: 768px) {
    .hero {
        display: initial;
        padding: 0;

    }

    .intro {
        width: 90%;
        margin: auto;
        padding: 0;

    }

    #hero-image {
        display: block;
        width: 90%;
        margin: auto;
        padding: 0;
    }

}




.services {
    display: flex;
    background-color: #181C14;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;

    justify-content: center;



}

.services-images {
    width: 100%;
    display: flex;
    justify-content: center;

}


.images {
    width: 60%;
    margin: 6% 9%;
    aspect-ratio: 1/1;
    height: auto;

}


.test {
    margin: 10px;
    width: 360px;
    min-width: 200px;
    height: auto;
    background-color: white;
    color: black;

}



@media screen and (max-width: 1110px) {

    .services-images {
        width: 96%;

    }

    .services-images {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        overflow: hidden;
    }

    .test {
        margin: 5px;
        width: 100%;


    }
}

    @media screen and (max-width: 768px){

        .services-images {
            grid-template-columns: repeat(2, 1fr);

        }

}

    @media screen and (max-width: 580px){
        .services-images {
            grid-template-columns: 1fr;

        }

}

.quote {
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-form {

    width: 900px;
}

.form-row {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;

}

input {
    height: 50px;
}

#message {
    height: 200px;
}

.labels {
    display: flex;
}

@media screen and (max-width: 900px) {

    .quote-form {

        width: 90%;
    }


}

.required {
    margin: 0 10px;
}














