* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    background-image: url('roof-hero.jpeg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    color: white;
;

}

.titles {
    font-size: 80px;
}

.intro-div {
    width: 50%;
    display: flex;
    justify-content: end;





}

.intro-items {

    width: 80%;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;

}


.intro {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 2;
    font-size: 1rem;
}


@media screen and (max-width: 768px) {
    .hero {
        display: initial;
        padding: 0;

    }

    .intro {
        width: 90%;
        margin: auto;
        padding: 0;

    }

    #hero-image {
        display: block;
        width: 90%;
        margin: auto;
        padding: 0;
    }

}



.quote {
    width: 50%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;


}

.quote-form {
    padding: 10px 10px;
    width: 450px;
    height: 100%;
    background-color: black;
    border: 5px solid dodgerblue;
    border-radius: 10px;
    opacity: .75


}

.form-row {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;


}

input {
    height: 50px;
    border: 2px solid white;
    background-color: black;
    color: white;

}

#message {
    height: 150px;
    border: 2px solid white;

    background-color: black;
    color: white;
}

.labels {
    display: flex;
}

@media screen and (max-width: 900px) {



}





.services {
    display: flex;
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;

    justify-content: center;



}

.services-images {
    width: 100%;
    display: flex;
    justify-content: center;

}

.the-images {
    display: flex;
    justify-content: center;
}


.images {
    text-align: center;
    width: 100%;
    aspect-ratio: 2/1.75;
    height: auto;
    border: 10px solid lightgrey;

}


.test {

    margin: 10px;
    width: 360px;
    min-width: 200px;
    height: auto;
    background-color: white;
    color: black;
    /*border: 5px solid dodgerblue;


     */

}

h2 {
    margin-left: 5%;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    margin: 5%;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}



@media screen and (max-width: 1110px) {

    .services-images {
        width: 96%;

    }

    .services-images {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        overflow: hidden;
    }

    .test {
        width: 100%;


    }
}

    @media screen and (max-width: 768px){

        .services-images {
            grid-template-columns: repeat(2, 1fr);

        }

}

    @media screen and (max-width: 580px){
        .services-images {
            grid-template-columns: 1fr;

        }

}



.temp {
    height: 250px;
}











